.code-editor {
    height: 100%;
    width: 100%;
}

.code-editor .ace_editor {
    font-family: 'Source Code Pro', monospace;
    background-color: #282c34;
}

.code-editor .ace_gutter {
    background-color: #21252b;
    color: #8b949e;
}

.code-editor .ace_print-margin {
    display: none;
} 